
    body {
      background-color: #FEECE9;
    }

    hr {
      border-color: #CCD1E4;
      border-style:  none;
      border-top-style: dotted;
      border-width: 10px;
      width: 10%;
    }

    h1 {
      color: #2F3A8F;
    }

    h3 {
      color: #2F3A8F;
    }
